container_commands:
    00_make_certbot_venv:
        command: "sudo python3 -m venv /opt/certbot/"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    10_upgrade_pip:
        command: "sudo /opt/certbot/bin/pip install --upgrade pip"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    20_install_certbot:
        command: "sudo /opt/certbot/bin/pip install certbot certbot-nginx"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    30_ln_certbot_to_bin:
        command: "sudo ln -s /opt/certbot/bin/certbot /usr/bin/certbot"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"