files:
    /tmp/renew_cert_cron:
        mode: "000777"
        owner: root
        group: root
        content: |
            0 1,13 * * * PATH=/usr/sbin /usr/bin/certbot renew --agree-tos -m "strikeorsike@gmail.com"
container_commands:
    10_create_cert_crontab:
        command: "sudo crontab /tmp/renew_cert_cron"
    20_delete_cronjob_file:
        command: "sudo  rm /tmp/renew_cert_cron"
        ignoreErrors: true