doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  // Global site tag (gtag.js) - Google Analytics
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')
  title codewords
  link(rel='icon' href='/css/agent-icon.png')
  meta(name='keywords' content='online board game, team, codewords, codewordsgame.com, Bharath Jaladi, friends at UPenn, play their favorite game virtually, family and friends, team game, board game, gameplay experience, game board, 25 words, red and blue, bomb word, spymaster, clues, field operative, decode, wins, create game, room, invite other model to join, host, rounds, assigning teams, categories, red spymaster, blue spymaster, sending clues, single word, proper noun, guess, invalid clue, penalty, clue numbers, uncover the bomb, making guesses, turn, clue, make a guess, correct guess, incorrect guess, teams')
  // Primary Meta Tags
  meta(name='title' content='codewords')
  meta(name='description' content='Codewords enables you to play a fun team word game online from anywhere with anyone! Play on your computer, tablet, or mobile device!')
  // Open Graph / Facebook
  meta(property='og:type' content='website')
  meta(property='og:url' content='http://codewordsgame.com/')
  meta(property='og:title' content='codewords')
  meta(property='og:description' content='Codewords enables you to play a fun team word game online from anywhere with anyone! Play on your computer, tablet, or mobile device!')
  meta(property='og:image' content='http://codewordsgame.com/htp/preview.png')
  // Twitter
  meta(property='twitter:card' content='summary_large_image')
  meta(property='twitter:url' content='http://codewordsgame.com/')
  meta(property='twitter:title' content='codewords')
  meta(property='twitter:description' content='Codewords enables you to play a fun team word game online from anywhere with anyone! Play on your computer, tablet, or mobile device!')
  meta(property='twitter:image' content='http://codewordsgame.com/htp/preview2.png')
  meta(name='room' content='')

script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
script(type='text/javascript' src='/javascripts/index.js')
.wrapper
  h1.fadeIn.zeroth
    span#title-text Hit or Miss
  .wrapper.fadeInDown
    #formContent
      // Tabs Titles
      #buttons-wrapper
        h2#joingameBtn.active join game
        h2#creategameBtn.inactive.underlineHover create game
      // Login Form
      form#joingame
        span#error-nj
          input#name-join.fadeIn.first(type='text' name='name_join' placeholder='your name' onblur="this.placeholder = 'your name'")
        span#error-rnj
          input#room-name-join.fadeIn.second(type='text' name='room_name_join' placeholder='room name' onblur="this.placeholder = 'room name'")
        input.fadeIn.third(type='submit' value='Join Game')
      form#creategame
        span#error-nc
          input#name-create.fadeIn.first(type='text' name='name_create' placeholder='your name' onblur="this.placeholder = 'your name'")
        span#error-rnc
          input#room-name-create.fadeIn.second(type='text' name='room_name_create' placeholder='new room name' onblur="this.placeholder = 'new room name'")
        input.fadeIn.third(type='submit' value='Create Game')
  br
  h3#rules-text.fadeIn.third(style='font-size: 18px;')
    a.rules-text(target='_blank' href='/how-to-play') learn how to play
  h3#error-holder.fadeIn.first(style='font-size: 16px; color:red; min-height: 20px;')
  br
  h3#footer.fadeIn.third(style='font-size: 16px;')
    | created by
    a.rules-text(href='http://www.bharathjaladi.com' target='_blank')
      | Bharath
      | Jaladi
    |  and
    a.rules-text(href='http://www.rnagda.com' target='_blank') Romit Nagda and Conor Murphy
    br
    span(style='font-size: 13px;')
      | Please send any feedback
      | or
      | suggestions to
      a.rules-text(href='mailto:bjaladi@seas.upenn.edu') bjaladi@seas.upenn.edu
      | .


