// shake animation for errors
.shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

// fade transition
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.05s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.bounce {
    animation: bounce 1s cubic-bezier(.33,.47,.28,.93) infinite;
}

.flip {
    animation: flip 1s cubic-bezier(.81,.06,.89,.25) infinite;
}


@keyframes flip {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
