@import "min-bootstrap";
@import "variables";


@font-face {
  font-family: "Pacifico";
  src: local("Pacifico"),   url(@/fonts/Pacifico/Pacifico-regular.ttf) format("truetype");
}


@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),   url(@/fonts/Quicksand/Quicksand-VariableFont_wght.ttf) format("truetype");
}

body {
  background-color: $burgundy;
  font-family: $main-font;
  font-weight: 700;
  font-size: 1.2rem;
}

.main-content {
  border-radius: 15px;
  box-shadow: 6px 6px 6px 2px $gray-600;
  background-color: $secondary;
}

.form-control, .btn {
  border-radius: $border-radius;
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
}