@import "min-bootstrap";
@import "variables";
@import "loading-icon";
@import "animations";
@import "slider-component";

$utilities: map-merge(
                $utilities,
                (
                        "translate-40": (
                                property: transform,
                                class: translate-40,
                                values: (
                                        null: translate(-65%, -35%),
                                        x: translateX(-65%),
                                        y: translateY(-35%),
                                )
                        ),

                )
);
@import "bootstrap/scss/utilities/api";

@font-face {
  font-family: "Pacifico";
  src: local("Pacifico"), url(@/assets/fonts/Pacifico/Pacifico-Regular.ttf) format("truetype");
}


@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"), url(@/assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf) format("truetype");
}

$sizes: (
        25: 25%,
        50: 50%,
        75: 75%,
        93: 93%,
        100: 100%
);
@each $breakpoint in map-keys($grid-breakpoints) {
  @each $size, $length in $sizes {
    @include media-breakpoint-up($breakpoint) {
      .w-#{$breakpoint}-#{$size} {
        width: $length !important;
      }
      .h-#{$breakpoint}-#{$size} {
        height: $length !important;
      }
    }
  }
}

.w-93 {
  width: 93%;
}

.ratio-1x1 {
  aspect-ratio: 1 / 1;
}

body {
  background-color: $burgundy;
  background-image: url('@/assets/images/background.svg');
  background-size: auto, auto;
  font-family: $main-font;
  font-weight: 700;
  font-size: $font-size-lg;
}

.main-content {
  border-radius: 15px;
  box-shadow: 6px 6px 6px 2px $gray-600;
  background-color: $secondary;
}

.font-fancy {
  font-family: $header-font;
  font-weight: normal;
}

.form-control, .btn {
  border-radius: $border-radius;
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
}

