@import "min-bootstrap";
@import "variables";


@font-face {
  font-family: "Pacifico";
  src: local("Pacifico"), url(@/assets/fonts/Pacifico/Pacifico-Regular.ttf) format("truetype");
}


@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"), url(@/assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf) format("truetype");
}

@font-face {

}

$sizes: (
        25: 25%,
        50: 50%,
        75: 75%,
        93: 93%,
        100: 100%
);
@each $breakpoint in map-keys($grid-breakpoints) {
  @each $size, $length in $sizes {
    @include media-breakpoint-up($breakpoint) {
      .w-#{$breakpoint}-#{$size} {
        width: $length !important;
      }
      .h-#{$breakpoint}-#{$size} {
        width: $length !important;
      }
    }
  }
}

.w-93 {
  width: 93% !important;
}

body {
  background-color: $burgundy;
  //background-image: url('@/assets/images/background.svg');
  //background-size: 100vw 100vh;
  font-family: $main-font;
  font-weight: 700;
  font-size: $font-size-lg;
}

.main-content {
  border-radius: 15px;
  box-shadow: 6px 6px 6px 2px $gray-600;
  background-color: $secondary;
}

.font-fancy {
  font-family: $header-font;
  font-weight: normal;
}

.form-control, .btn {
  border-radius: $border-radius;
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
}